@using MyWebSite.DAL.MyEntities
@model UserVM

@{
    ViewBag.Title = "RegisterUser";
}

<div class="row ">
    @using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    <!--- For Name---->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="firstname">Ad:</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Adınız" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.FirstName)</span>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="lastname">Soyad:</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Soyadınız" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.LastName)</span>
            </div>
        </div>
    </div>
    <!-----For email---->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="mail">E-mail:</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.EMail, new { @class = "form-control", @placeholder = "E-mailiniz" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.EMail)</span>
            </div>
        </div>
    </div>
    <!-----For Password and confirm password---->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="pass">Şifre:</label>
            </div>
            <div class="col-xs-8">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Şifreniz" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.Password)</span>
            </div>
        </div>
    </div>

    <!-----------For Phone number-------->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4 ">
                <label class="gender">Cinsiyet:</label>
            </div>

            <div class="col-xs-2 gender">
                @Html.RadioButtonFor(x => x.Gender, Gender.Male) Male
            </div>

            <div class="col-xs-3 gender">
                @Html.RadioButtonFor(x => x.Gender, Gender.Female) Female
            </div>
            <div class="col-xs-3 gender">
                @Html.RadioButtonFor(x => x.Gender, Gender.Other) Other
            </div>
        </div>
        <div class="col-sm-12">
            <div class="btn btn-warning">Submit</div>
        </div>
    </div>
    }


</div>